@font-face {
  font-family: 'BauhausLightCTT';
  src: url("../fonts/BauhausLightCTT.eot");
  src: url("../fonts/BauhausLightCTT.eot?#iefix") format("embedded-opentype"), url("../fonts/BauhausLightCTT.woff") format("woff"), url("../fonts/BauhausLightCTT.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?44z6hu");
  src: url("../fonts/icomoon.eot?44z6hu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?44z6hu") format("truetype"), url("../fonts/icomoon.woff?44z6hu") format("woff"), url("../fonts/icomoon.svg?44z6hu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-fb:before {
  content: "\e900"; }

.icon-lupa:before {
  content: "\e901"; }

.icon-skype:before {
  content: "\e902"; }

.icon-twitter:before {
  content: "\e903"; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

form,
fieldset {
  border: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color: #333; }

h4 {
  text-transform: uppercase;
  color: #555;
  font-size: 12px; }

.main-wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto; }

.container {
  max-width: 1011px;
  padding: 0 15px;
  margin: 0 auto; }

header {
  height: 106px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header a {
    font: 48px/1.1 'BauhausLightCTT';
    font-style: normal;
    font-weight: 300;
    color: #24b5e1; }
  header span {
    font: 17px/1.1 'Arial';
    color: #000;
    position: relative;
    padding-left: 30px;
    display: inline-block; }
    header span:before {
      content: '';
      position: absolute;
      width: 18px;
      height: 28px;
      background: url("../img/phone.png") no-repeat;
      top: -50%;
      left: 0;
      -webkit-transform: translateY(10%);
          -ms-transform: translateY(10%);
              transform: translateY(10%); }

.nav {
  background-color: #f2f2f2;
  padding: 13px 0; }
  .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav a {
    font: 15px/1 'Arial';
    color: #393939; }
    .nav a:hover {
      color: #24b5e1; }

.breadcrumb {
  margin: 15px 0; }
  .breadcrumb li {
    display: inline-block;
    position: relative;
    padding-right: 20px; }
    .breadcrumb li:before {
      content: '';
      position: absolute;
      background: url("../img/arrowright.png") no-repeat;
      width: 5px;
      height: 5px;
      right: 10px;
      bottom: 25%; }
    .breadcrumb li:last-child:before {
      display: none; }
  .breadcrumb a {
    font-size: 11px;
    color: #7c7c7c; }
    .breadcrumb a.active {
      text-decoration: underline; }

.content-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content-holder aside {
    -webkit-flex-basis: 233px;
        -ms-flex-preferred-size: 233px;
            flex-basis: 233px; }

.main-content {
  -webkit-flex-basis: 696px;
      -ms-flex-preferred-size: 696px;
          flex-basis: 696px;
  margin-right: 15px; }

.main-list h1 {
  font-size: 28px;
  line-height: 1.1;
  color: #212121;
  margin-bottom: 32px; }

.main-list h3 {
  font-size: 18px;
  margin: 44px 0 22px 0; }

.main-list ul {
  padding: 14px 0 29px 0;
  border-bottom: 1px dotted #ccc; }
  .main-list ul li {
    position: relative; }
    .main-list ul li:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 1px;
      background: #000;
      top: 50%;
      left: 0; }
  .main-list ul a {
    padding-left: 32px;
    color: #24b5e1; }
    .main-list ul a:hover {
      text-decoration: none; }

.about-watches {
  border-bottom: 1px dotted #ccc; }
  .about-watches h4 {
    margin: 30px 0 16px 0; }
  .about-watches p {
    margin-top: 20px; }
  .about-watches .watches {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about-watches ol {
    padding: 0; }
  .about-watches li {
    list-style: none;
    line-height: 20px; }

.statistics {
  padding: 30px 0 33px 0;
  border-bottom: 1px dotted #ccc; }
  .statistics h4 {
    margin: 0; }
  .statistics table {
    margin-top: 31px;
    border-spacing: 0;
    width: 100%; }
  .statistics tr,
  .statistics td,
  .statistics th {
    font-size: 11px;
    font-weight: 400; }
  .statistics th {
    color: #7d7d7d;
    padding: 0 0 9px 0;
    text-align: left; }
    .statistics th:first-child {
      padding-left: 14px; }
  .statistics td {
    padding: 14px 0; }
    .statistics td:nth-child(2) {
      color: #24b6e1; }
    .statistics td:first-child {
      padding-left: 14px; }
  .statistics a {
    color: #24b6e1;
    text-decoration: underline; }
  .statistics tr:nth-child(even) {
    background-color: #fbfafb; }

#tabs {
  margin: 30px 0;
  border-bottom: 1px dotted #ccc; }
  #tabs h4 {
    margin: 0; }
  #tabs ul {
    margin: 33px 0 0 0; }
  #tabs li {
    display: inline-block;
    margin-right: 6px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #eaeaea;
    outline: none; }
  #tabs a {
    line-height: 30px;
    color: #000;
    padding: 0 16px;
    outline: none; }
    #tabs a:hover {
      text-decoration: underline; }
  #tabs #tabs-1,
  #tabs #tabs-2 {
    min-height: 147px; }
  #tabs .ui-tabs-active {
    background-color: #1eb6e2; }
    #tabs .ui-tabs-active a {
      color: #fff; }

.top-form {
  position: relative; }
  .top-form i {
    position: absolute;
    right: 3%;
    top: 20%;
    font-size: 18px;
    color: #1fb7e3; }

input[type="text"],
input[type="email"] {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  line-height: 27px;
  width: 100%;
  padding-left: 15px;
  color: #444; }

.news {
  margin: 30px 0 44px 0; }
  .news h2 {
    font-size: 22px;
    color: #212121;
    margin-bottom: 5px; }

.title-box {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc; }
  .title-box a {
    font-size: 14px;
    color: #24b5e1;
    line-height: 22px;
    text-decoration: underline; }
    .title-box a:hover {
      text-decoration: none; }
  .title-box span {
    font-size: 11px;
    color: #969696;
    line-height: 22px;
    display: block; }
  .title-box p {
    font-size: 12px;
    color: #333;
    line-height: 18px; }

.btn {
  text-align: right;
  margin: 22px 0 0 0; }

.all-news {
  background-color: #eaeaea;
  color: #000;
  font-size: 12px;
  line-height: 22px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 3px 18px;
  display: inline-block; }

.aside-holder {
  margin-right: 3px; }

fieldset h2 {
  font-size: 24px;
  color: #212121; }

input:nth-child(2) {
  margin-bottom: 15px; }

.subscribe-btn {
  background-color: #1fb6e2;
  color: #fff;
  padding: 3px 23px; }

.footer-holder {
  height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-holder p {
    font-size: 11px;
    line-height: 20px;
    color: #7c7c7c; }
  .footer-holder a {
    color: #24b5e1;
    text-decoration: underline; }

.social-links li {
  display: inline-block; }

.social-links a {
  color: #b9b9b9;
  text-decoration: none;
  font-size: 25px; }
  .social-links a:hover {
    color: #1fb6e2; }
